/* CSS Reset*/
*{
  padding: 0; margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: #c03928;
  background-image: linear-gradient(#c03928,#e74c3c);
}
  .header--title{
    color: white;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    padding: 30px;
    text-align: center;
  }
  
    .header--title-bgwhite{
      color: #c03928;
      background-color: white;
      padding: 6px;
      border-radius: 6px;
      }
  
/*serie cover main page */

.serie{
text-align: center;
}
  .serie--title{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 20px 0 2.5px;
  }
  .serie--title-genre{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a9a4a4;
    display: block;
    padding: 2.5px 0 20px;
  }
  .serie--image{
    display: block;
    max-width: 328px;
    margin: auto;
    border-radius: 5px;
  }
  .serie--readmore{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #c03928;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 10px auto;
    max-width: 328px;
    border-radius: 5px;
  }
    .serie--readmore:hover{
      background-color: #e74c3c;
    }  

    /* footer */
.footer{
  background-color: #eeeeee;
  color: #c03928;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
  .footer--image{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .footer--element{
    padding: 20px;
  }

  /*seriedetail cover main page */

.seriedetail{
  text-align: center;
  }
    .seriedetail--title{
      font-family: 'Open Sans', sans-serif;
      font-size: 28px;
      padding: 20px 0 2.5px;
    }
    .seriedetail--genre{
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #a9a4a4;
      display: block;
      padding: 2.5px 0 20px;
    }
    .seriedetail--image{
      display: block;
      max-width: 328px;
      margin: auto;
      border-radius: 5px;
    }
    .seriedetail--text{
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      line-height: 1.5;
      max-width: 320px;
      margin: 10px auto;
      text-align: left;
    }
    .seriedetail--watchtrailer{
      font-family: 'Roboto', sans-serif;
      color: #000000;
      background-color: #f1c40f;
      text-decoration: none;
      display: block;
      padding: 5px;
      margin: 10px auto;
      max-width: 328px;
      border-radius: 5px;
    }
      .seriedetail--watchtrailer:hover{
        background-color: rgba(241, 196, 15, 0.767);
      }

/* serie avaliation */
.serieavaliation{
  background-color: #eeeeee;
  margin: 10px;
}
  .serieavaliation--title{
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0 10px;
  }
  .serieavaliation--images{
    text-align: center;
  }
  .serieavaliation--twitter{
    margin: 0 50px;
  }
  .serieavaliation--percent{
    color: #27ae60;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
